.bg {
}
.index__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  font-family: eckmannpsych-medium, sans-serif;
  color: var(--background-color);
}
.index__title img {
  width: 40%;
}
.index__title:hover {
  filter: blur(3px);
}
/*works*/
/*works*/
/*works*/
.index__list__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: auto;
  column-gap: var(--grid-gap);
}
.index__list {
  padding-top: var(--grid-gap);
}
.index__list:last-child {
  padding-bottom: var(--grid-gap);
}
.index__list__image img:hover {
  animation: 1s ease-in-out infinite blink;
}
@keyframes blink {
  0% {
  }
  50% {
    transform: translateY(3px);
  }
  100% {
  }
}
.index__list__title {
  text-align: center;
  line-height: 1.2;
}
.index__list__title h6 {
  padding-top: 10px;
}
