.index__body {
  background-color: var(--background-color);
  padding-right: 75px;
}
.index__list {
  display: grid;
  grid-template-columns: 1fr 2.5fr 4fr;
  column-gap: var(--default-padding);
  padding: var(--default-padding) 0px;
  border-bottom: var(--border);
}
.index__list__title > h5 {
  line-height: 1.1;
}
.index__list__caption {
  line-height: 1.2;
}
.index__list__caption h5:not(:first-child) {
  text-indent: 40px;
}
.index__list__image img:hover {
  filter: blur(5px);
}
