/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
:root {
  --border: 2px solid var(--point-color);
  --background-color: rgb(255, 252, 243);
  --font-color: black;
  --point-color: #5b61a8;
  /*--background-color: #212121;
  --font-color: #c4a673;
  --point-color: #a6abdf;*/
  --default-padding: 30px;
  --grid-gap: 15px;
}
::-webkit-scrollbar {
  display: none;
}
::selection {
  background-color: var(--point-color);
  color: var(--background-color);
}
html {
  cursor: url("https://postfiles.pstatic.net/MjAyMTAzMDVfMjAw/MDAxNjE0OTE1MjI5OTU0.ZVDh8HvLo-3mjCDLeWRmpOoDjF4hleqqF92nNhIZHVsg.UnYa_YGe__sii3Wbz7t61REE0-NTGy2E24h8HZMhENsg.PNG.qkddnfdlgkxm/cursor-01.png?type=w773"),
    default;
  -webkit-font-smoothing: antialiased;
}
a {
  cursor: url("https://postfiles.pstatic.net/MjAyMTAzMDVfMTk4/MDAxNjE0OTE1MjI5OTU0.K90VDMcltZgNmF8dW0q7Jg4A6M2dWWfHtccb2nEfrisg.27h3EjEmJx5yrCHeBkkl9W7bDcTwS_mS7ZNgFu5F0kcg.PNG.qkddnfdlgkxm/cursor-02.png?type=w773"),
    crosshair;
  text-decoration: none;
}
img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* font */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-color);
  font-family: tenon, sans-serif;
  font-weight: 400;
}
/*title*/
h1 {
  color: var(--point-color);
  font-size: 3vh;
  font-family: termina, sans-serif;
  font-weight: 500;
}
h1:hover {
  color: var(--font-color);
}
h3 {
  font-size: 3vh;
}
/*text*/
h5 {
  font-size: 2vh;
}
h6 {
  color: var(--point-color);
  font-size: 1.5vh;
  font-family: termina, sans-serif;
  font-weight: 500;
}
