/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
/* custom */
/* custom */
:root {
  --border: 2px solid var(--font-color);
  --background-color: #1e1d1c;
  --font-color: #be8759;
  --point-color: #ff590a;
  --default-padding: 30px;
  --grid-gap: 15px;
}
::-webkit-scrollbar {
  display: none;
}
::selection {
  background-color: var(--point-color);
  color: var(--background-color);
}
html {
  cursor: url("https://postfiles.pstatic.net/MjAyMTAzMDRfMjIx/MDAxNjE0ODYxMTI2NDA1.w6_CN-v258mUOVziC9KQr4cVeFssGoh8UoSZI5ZNOxwg.xQ8Ly5paEsZUoL_MUvyQ6acF11HXKXjqEo1Cl3mFHoog.PNG.qkddnfdlgkxm/cursor-01.png?type=w773"),
    pointer;
  -webkit-font-smoothing: antialiased;
}
a {
  cursor: url("https://postfiles.pstatic.net/MjAyMTAzMDRfMjI3/MDAxNjE0ODYxMTI2NDA4.XY19yu4wIbV12vrV16-achW8NiDmMc6Ff-xfmaa0s08g.8vDLZ7O8s9BOacalPLsh_P4_5pyZmnAs1ZqU54fnEJ0g.PNG.qkddnfdlgkxm/cursor-02.png?type=w773"),
    pointer;
  text-decoration: none;
}
img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* font */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-color);
  font-family: tenon, sans-serif;
  font-weight: 400;
}
/*title*/
h1 {
  font-size: 4vh;
  font-family: eckmannpsych-medium, sans-serif;
  transition: font-size 0.5s ease-in-out;
}
h3 {
  font-size: 3vh;
}
/*text*/
h5 {
  font-size: 2vh;
}
h6 {
  font-size: 2vh;
  font-family: eckmannpsych-medium, sans-serif;
  color: var(--point-color);
}
