@import "reset.css";
@import "menu.css";
@import "article.css";

@import "components/header.css";
@import "components/nav.css";
@import "components/footer.css";

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100%;
  height: 100vh;
  padding-top: 15px;
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
}

/* main */
.home__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__image {
  fill: var(--point-color);
  position: absolute;
  display: none;
  z-index: -1;
}
.home__text {
  text-align: justify;
  letter-spacing: -0.005em;
  word-spacing: -0.005em;
  line-height: 1.2;
}
.home__text svg {
  width: 100%;
  height: 100%;
}
.home__image__explorer,
.home__image__collector,
.home__image__translator {
  position: absolute;
  top: 275px;
  bottom: 275px;
  left: 500px;
  right: 500px;
  display: none;
  z-index: -1;
  opacity: 0.75;
}
.explorer:hover + .home__image__explorer {
  display: block;
}
.collector:hover + .home__image__collector {
  display: block;
}
.translator:hover + .home__image__translator {
  display: block;
}
span {
  font-style: italic;
}
span:hover {
  text-decoration: underline;
}
