@import url("https://use.typekit.net/wxf0pgo.css");
@import "reset.css";
@import "index.css";
@import "article.css";

@import "components/header.css";
@import "components/nav.css";
@import "components/footer.css";

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
}

main {
  padding-top: 50px;
}

/* about */
.about__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--grid-gap);
}
.about__text {
  padding-top: var(--grid-gap);
  line-height: 1.2;
  letter-spacing: -0.02rem;
  display: grid;
  grid-template-rows: auto;
  row-gap: 60px;
}
span {
  color: var(--point-color);
}
.about__image__explorer,
.about__image__collector,
.about__image__translator {
  position: absolute;
  right: var(--default-padding);
  display: none;
  opacity: 0.75;
}
.explorer:hover + .about__image__explorer {
  display: block;
}
.collector:hover + .about__image__collector {
  display: block;
}
.translator:hover + .about__image__translator {
  display: block;
}
