.index__footer,
.article__footer,
.about__footer {
  display: flex;
  justify-content: center;
  padding: var(--grid-gap) 0px;
  border-top: var(--border);
}
.about__footer {
  position: absolute;
  bottom: 0;
  left: var(--default-padding);
  right: var(--default-padding);
}
