header {
  display: flex;
  flex-direction: column;
}
header h1:hover {
  color: var(--point-color);
}

/* title */
.header__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: var(--border);
}
.home__body .header__title {
  border-bottom: none;
}

/* btn */
.header__btn__container {
  display: flex;
}
.header__btn {
  color: var(--font-color);
}
.back {
  margin-right: 20px;
}

.header__works {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 0px;
  border-bottom: var(--border);
}
.header__works h3 {
  font-family: eckmannpsych-medium, sans-serif;
  font-weight: 400;
}
